[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
requests = "*"
pymysql = "*"
redis = "*"
cryptography = "*"
dependency-injector = "*"
pymysql-pooling="*"

[dev-packages]

[requires]
python_version = "3.10"
